<ul class="sidebar-nav">
  {% if user.is_authenticated %}
    <li>
       <a href="{% url 'taxi:driver-detail' user.id %}">{{ user.username }}</a>
    </li>
    {% csrf_token %}
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer; color: inherit; font: inherit;">Logout</button>
    </form>
  {% else %}
    <li>
      <a href="{% url "login" %}">Login</a>
    </li>
  {% endif %}
  <li>
    <a href="{% url "taxi:index" %}">Home page</a>
  </li>
  <li>
    <a href="{% url "taxi:manufacturer-list" %}">Manufacturers</a>
  </li>
  <li>
    <a href="{% url "taxi:car-list" %}">Cars</a>
  </li>
  <li>
    <a href="{% url "taxi:driver-list" %}">Drivers</a>
  </li>
</ul>
